body {
  background-color: black;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  cursor: url(../assets/images/cursor/default.png), auto !important;
}

.cursor-pointer {
  cursor: url(../assets/images/cursor/point.png), auto !important;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-bottom: 20px;
}

#gameCanvas {
  width: 100vw;
  height: auto;
  image-rendering: pixelated;
}

#hud {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 20px;
}

#hud h2 {
  margin: 0;
  padding: 10px 0;
}

#hud p {
  margin: 5px 0;
}

#controls {
  width: 80%;
  text-align: center;
}

#controls h3 {
  margin: 0;
  padding: 10px 0;
}

#controls p {
  margin: 5px 0;
}
