body {
  background-color: black;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  cursor: url(../assets/images/cursor/default.png), auto !important;
}

.cursor-pointer {
  cursor: url(../assets/images/cursor/point.png), auto !important;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#gameCanvas {
  width: 100vw;
  height: auto;
  image-rendering: pixelated;
}

#top-bar {
  width: 100vw;
  height: 100%;
}

#bottom-bar {
  width: 100vw;
  height: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
}
